apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  type: ClusterIP
  selector:
    app: keycloak
  ports:
    - port: 8080        # 对外暴露的服务端口（K8s 内部）
      targetPort: 8080  # 容器内部端口（Keycloak --http-port）


